WordService/WebContent/wsdl/WordService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://word.sprint.vml.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://word.sprint.vml.com" xmlns:intf="http://word.sprint.vml.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://word.sprint.vml.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="concatenate">
    <complexType>
     <sequence>
      <element name="s1" type="xsd:string"/>
      <element name="s2" type="xsd:string"/>
      <element name="s3" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="concatenateResponse">
    <complexType>
     <sequence>
      <element name="concatenateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="s" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reverse">
    <complexType>
     <sequence>
      <element name="s" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reverseResponse">
    <complexType>
     <sequence>
      <element name="reverseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="reverseRequest">

      <wsdl:part element="impl:reverse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="concatenateRequest">

      <wsdl:part element="impl:concatenate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reverseResponse">

      <wsdl:part element="impl:reverseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="concatenateResponse">

      <wsdl:part element="impl:concatenateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WordService">

      <wsdl:operation name="concatenate">

         <wsdl:input message="impl:concatenateRequest" name="concatenateRequest">

       </wsdl:input>

         <wsdl:output message="impl:concatenateResponse" name="concatenateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reverse">

         <wsdl:input message="impl:reverseRequest" name="reverseRequest">

       </wsdl:input>

         <wsdl:output message="impl:reverseResponse" name="reverseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WordServiceSoapBinding" type="impl:WordService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="concatenate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="concatenateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="concatenateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reverse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reverseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reverseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WordServiceService">

      <wsdl:port binding="impl:WordServiceSoapBinding" name="WordService">

         <wsdlsoap:address location="http://localhost:8080/WordService/services/WordService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
